@import "./../vars";

.Button{
	height: 38px;
	border-radius: 27px;
	background-color: $mainBlue;
	flex-shrink: 0;
	font-size: 21px;
	color: white;
	align-items: center;
	justify-content: center;
}
.Button--green{
	background-color: $mainGreen;
}
