.Excursion{
	height: 330px;
	width: 100%;
	border-radius: 5px;
	background-position: center;
	color: white;
	justify-content: flex-end;
	flex-direction: column;
	padding: 15px 15px;
	background-size: cover;
	flex-shrink: 0;
	margin-bottom: 19px;
	
	.Excursion__like{
		flex-grow: 1;
		align-self: flex-end;
		svg{
			fill: red;
		}
	}
	
	.Excursion__rating {
		.Excursion__star_rate {
			fill: #C4C3C2;
		}
		
		.Excursion__star_rate--checked {
			fill: orange;
		}
	}
	
	.Excursion__desc{
		margin-bottom: 10px;
	}
	
	.Excursion__price{
		font-weight: 600;
		font-size: 20px;
	}
	
	.Excursion__price_type{
		font-size: 8px;
	}
}
