@import "src/vars";

#UserFilter{
	flex-direction: column;
	padding: 43px 55px;
	font-size: 20px;
	width: 100%;
	overflow: auto;
	
	.UserFilter__input{
		width: 100%;
		outline: none;
		font-size: 26px;
		border: none;
		border-bottom: 2px gray solid;
		margin-top: 14px;
		height: 30px;
		margin-bottom: 35px;
	}
	
	.UserFilter__row{
		width: 100%;
		align-items: center;
		
		>span{
			margin-bottom: 20px;
		}
		.UserFilter__input{
			width: 65px;
			padding-left: 20px;
		}
	}
	
	.UserFilter__li{
		font-size: 15px;
		justify-content: space-between;
		margin: 2px 0 4px 0;
		
		.UserFilter__checkbox{
			$size: 15px;
			height: $size;
			width: $size;
			border-radius: 50%;
			border: 1px gray solid;
		}
		.UserFilter__checkbox--checked{
			background-color: $mainBlue;
		}
	}
}
