#UserSettings{
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	//padding-top: 50px;
	padding: 50px 23px 0;
	
	.UserSettings__avatar{
		$size: 170px;
		height: $size;
		width: $size;
		border-radius: 50%;
		border: 20px white solid;
		box-shadow: rgba(0,0,0,0.2) 0 0 6px;
	}
	
	.UserSettings__list{
		margin-top: 48px;
		flex-direction: column;
		color: gray;
		font-size: 21px;
		align-items: flex-start;
		width: 100%;
		
		>div{
			margin-bottom: 24px;
		}
	}
}
