@import "./../vars";
#Auth{
	flex-direction: column;
	
	.Auth__body {
		padding: 31px 68px;
		flex-direction: column;
		
		.Auth__field {
			flex-direction: column;
			
			span {
				color: $secondaryText;
				font-size: 22px;
			}
			
			input {
				border: none;
				font-size: 25px;
				height: 26px;
				border-bottom: 2px $gray solid;
				margin-bottom: 26px;
			}
		}
		
		.Auth__socials {
			align-self: center;
			margin-top: 24px;
			justify-content: space-between;
			width: 200px;
			margin-bottom: 70px;
		}
	}
}
