#Init{
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	
	.Init__init_img {
		position: absolute;
		top: 64%;
		left: -30%;
	}
	.Init__init_img--top{
		top: 9%
	}
	.Init__init_img--left{
		left: 69%;
	}
}
