@import "./../vars";
#Main{
	flex-direction: column;
	height: 100%;
	
	.Main__main{
		flex-grow: 1;
		//padding: 0 23px;
		overflow: hidden;
	}
	.Main__tabbar{
		height: 60px;
		padding: 15px 24px 0;
		justify-content: space-between;
		
		svg{
			fill: #afafaf;
		}
	}
	.Main__tabbar--hidden{
		display: none;
	}
	.Main__tabbar_item--selected{
		svg{
			fill: $mainBlue;
		}
	}
}
