@import "src/vars";

#Chats{
	flex-direction: column;
	//padding: 27px 24px;
	flex-grow: 1;
	
	.Chats__chat_item:first-child{
		margin-top: 27px;
	}
	.Chats__chat_item{
		padding: 0 24px 14px;
		margin-bottom: 20px;
		border-bottom: 3px #dbdbdb solid;
		
		.Chats__chat_img{
			margin: 1px;
			$size: 44px;
			height: $size;
			width: $size;
			border-radius: 50%;
			background-size: cover;
			flex-shrink: 0;
			background-position: center;
		}
		
		.Chats__chat_data{
			flex-grow: 1;
			flex-direction: column;
			margin-left: 20px;
			
			.Chats__row1{
				justify-content: space-between;
				.Chats__title{
					font-weight: bold;
					font-size: 20px;
					color: $mainBlue;
				}
				.Chats__time{
					color: rgb(178, 178, 178);
					font-size: 14px;
				}
			}
			.Chats__row2{
				color: $mainBlue;
				font-size: 15px;
				letter-spacing: -1px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 230px;
			}
		}
	}
}
