#QrCode{
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
	h1{
		color: gray;
		text-align: center;
		//margin: 0  20px;
		font-size: 23px;
	}
}
