#SelectedExcursion{
	flex-grow: 1;
	flex-direction: column;
	
	.SelectedExcursion__header_img{
		height: 288px;
		border-radius: 5px;
		justify-content: space-between;
		padding: 18px;
		
		.SelectedExcursion__header_img_title{
			color: white;
			font-size: 20px;
			text-shadow: black 1px 1px;
		}
		.SelectedExcursion__like{
			svg {
				fill: #fff;
			}
		}
		.SelectedExcursion__like--checked{
			svg{
				fill: red;
			}
		}
	}
	
	.SelectedExcursion__info{
		margin-top: 39px;
		margin-bottom: 46px;
		padding: 0 10px 0 7px;
		justify-content: space-between;
		align-items: center;
		
		.SelectedExcursion__info_price{
			font-size: 22px;
			font-weight: bold;
		}
		.SelectedExcursion__info_rating{
			margin-top: 4px;
			.SelectedExcursion__star{
				svg{
					fill: #C4C3C2;
					$starSize: 26px;
					margin-left: 4px;
					width: $starSize;
					height: $starSize;
				}
			}
			.SelectedExcursion__star--checked{
				svg{
					fill: orange;
				}
			}
		}
	}
	
	.SelectedExcursion__desc{
		margin-top: 30px;
		font-size: 18px;
		margin-bottom: 50px;
	}
}
