@import "src/vars";
#User{
	flex-direction: column;
	flex-grow: 1;
	
	.User__blur{
		position: absolute;
		height: 500px;
		width: 100%;
		backdrop-filter: blur(20px);
	}
	
	.User__info{
		height: 280px;
		padding-top: 65px;
		padding-left: 45px;
		color: white;
		background-size: cover;
		
		*{
			z-index: 1;
		}
		
		.User__avatar{
			$size: 140px;
			height: $size;
			width: $size;
			flex-shrink: 0;
			border-radius: 50%;
			background-position: center;
			border: 20px rgba(0,0,0,0.5) solid;
		}
		.User__info_data{
			flex-direction: column;
			margin-left: 25px;
			padding-top: 7px;
			
			.User__info_name{
				margin-bottom: 5px;
				font-size: 27px;
				font-weight: bold;
			}
			.User__info_money{
				font-size: 18px;
			}
			.User__add_money{
				align-items: center;
				>div{
					border-radius: 50%;
					margin-top: 8px;
					align-items: center;
					justify-content: center;
					color: $mainBlue;
					background-color: white;
					$size: 31px;
					height: $size;
					width: $size;
					border: 3px $mainBlue solid;
					margin-right: 7px;
				}
				>span{
					margin-top: 4px;
				}
			}
		}
	}
	
	.User__menu{
		z-index: 2;
		*{
			z-index: 1;
		}
		flex-direction: column;
		padding: 33px 85px 0;
		font-size: 20px;
		
		>div{
			padding-bottom: 17px;
			padding-top: 15px;
			border-bottom: 1px lightgrey solid;
		}
	}
}
