@import "src/vars";
.SelectedChat{
	width: 100%;
	height: 100%;
	flex-direction: column;
	overflow: hidden;
	
	.SelectedChat__title{
		width: 100%;
		height: 65px;
		font-size: 20px;
		font-weight: bold;
		color: $mainBlue;
		background-color: #d4e5ff;
		justify-content: center;
		align-items: center;
	}
	
	.SelectedChat__messages{
		flex-grow: 1;
		overflow: auto;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 55px;
		
		.SelectedChat__message_item{
			margin-top: 17px;
			
			.SelectedChat__avatar{
				$size: 27px;
				height: $size;
				width: $size;
				border-radius: 50%;
				background-position: center;
				flex-shrink: 0;
				margin: 0 15px 0 17px;
				background-size: cover;
			}
			.SelectedChat__msg_body{
				max-width: 70%;
				background-color: #FFEFEE;
				padding: 10px;
				border-radius: 10px;
				
			}
		}
		.SelectedChat__message_item--from_me{
			flex-direction: row-reverse;
			.SelectedChat__msg_body{
				background-color: #ECF2FB;
			}
		}
	}
	
	.SelectedChat__input{
		margin: 20px auto 48px;
		justify-content: center;
		width: 87%;
		border: 1px black solid;
		border-radius: 19px;
		
		>div{
			flex-grow: 1;
			padding: 0 13px 0 15px;
			align-items: center;
			input{
				outline: none;
				border: none;
				flex-grow: 1;
				height: 39px;
			}
			img{
				height: 20px;
			}
		}
	}
}
